{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block nav_content %}
<ul>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'nybrogatan23' %}">Nybrogatan 23</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ pdf_menu.pdf.url }}" target="_blank">Download our dessert menu</a>
  </li>
</ul>
{% endblock %}

{% block main_content %}
<div class="row main-container">
  <div class="col-10 offset-1">
    <div class="auth-card">
      <h1>{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>

  </div>
</div>
{% endblock %}