/* Global styling */

@font-face {
    font-family: Recoleta;
    src: url("../fonts/Recoleta-RegularDEMO.otf") format("opentype");
}

body {
    font-family: Recoleta, sans-serif;
    background-color: rgb(250 244 180);
    text-align: center;
}

ul li {
    list-style: none;
}

label {
    color: rgb(5 103 53);
}

input {
    border-radius: 0.5em;
    border: none;
}

/* Background animation */


.animated-background {
    position: relative;
    width: fit-content;
    height: 78vh;
    animation: pan-left 25s infinite linear;
    overflow-x: visible;
}

@media screen and (min-width: 767px) {
    .animated-background {
        animation: pan-left 35s infinite linear;
    }
}

@media screen and (min-width: 1201px) {
    .animated-background {
        animation: pan-left 50s infinite linear;
    }
}

.index-main-container {
    height: 78vh;
    overflow: hidden;
}

.animated-background img {
    width: 350%;
    z-index: -1;
}

@keyframes pan-left {
    0% {
        left: -250%;
    }
    100% {
        left: 0%;
    }
}


h3 {
    padding-bottom: 1em;
}

.auth-card {
    padding: 2em;
    background-color: rgb(228, 228, 196);
    border-radius: 3em;
}

/* Django Messages */

.alert {
    position: absolute;
    top: 2em;
    margin-left: 15%;
    width: 70%;
    z-index: 2;
}


/* Navbar */

#signup-login-logout {
    margin-top: 0;
}

.user-status {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    text-align: right;
    padding-right: 2em;
    height: 2vh;
}

.user-status a {
    color: rgb(5 103 53);
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

nav h1 {
    color: rgb(5 103 53);
    font-size: 300%;
    letter-spacing: 1px;
}

.navbar-light {
    background-color: rgb(250 244 180);
}

.navbar-brand {
    margin-left: 5%;
}

nav {
    font-family: Recoleta, sans-serif;
    min-height: 10vh;
}

.nav-burger-icon {
    margin-top: -8px;
    height: 56px;
}

#nybro-nav-link {
    letter-spacing: 4px;
    color: rgb(80 38 34);
}

.navbar-toggler {
    border: none;
}

#logotype {
    height: 100px;
    position: absolute;
    bottom: 10px;
    margin-left: 20%;
}

nav a {
    font-size: larger;
    text-align: right;
    margin-right: 6.1%;
}

.nav-item {
    margin-right: 12px;
}

nav .active a {
    text-decoration: underline;
    color: rgb(5 103 53);
}

#slide-2 {
    letter-spacing: 4px;
    color: rgb(80 38 34);
}

#slide-2:hover {
    letter-spacing: 6px;
    color: rgb(248 186 166);
}

@media screen and (max-width: 480px) {
    nav h1 {
        font-size: 190%;
    }

    .nav-link{
        padding: .2rem;
    }
}

@media screen and (min-width: 481px) {
    nav a {
        font-size: x-large;
        margin-bottom: 1em;
    }

    .nav-link{
        padding: .2rem;
    }
}

@media screen and (min-width: 768px) {
    .nav-burger-icon {
        height: 64px;
        margin-right: 5vw;
        margin-top: -8px;
    }
}


/* Footer */

#footer-container {
    bottom: 0;
    background-color: rgb(5 103 53);
    color: rgb(250 244 180);
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    font-size: 150%;
}

#footer-container i {
    font-size: 180%;
    color: rgb(250 244 180);
}

#footer-container i:hover {
    color: rgb(248 186 166);
}

@media screen and (min-width: 768px) {
    #footer-container {
        font-size: 120%;
    }
}

/* Index page */

.slide-container {
    position: absolute;
    height: 78vh;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin: -78vh 0 0 0;
}

.carousel-angle-prev {
    font-size: 400%;
    color: rgb(5 103 53);
    margin-left: -70%;
}

.carousel-angle-next {
    font-size: 400%;
    color: rgb(5 103 53);
    margin-right: -70%;
}

.carousel-item {
    position: relative;
    z-index: 1;
    height: 65vh;
}

.car-item-scroll {
    overflow: scroll;
}

.carousel-item::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.carousel-item {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.slide {
    height: 65vh;
    background-color: rgb(250 244 180);
    margin-top: 5vh;
    margin-left: 5%;
    width: 90%;
    border-radius: 2em;
    text-align: center;
}

.carousel-indicators {
    position: absolute;
}

.carousel-indicators li {
    background-color: rgb(5 103 53);
}

#carouselExampleIndicators {
    height: 70vh;
}

.carousel-control-prev-icon {
    position: relative;
    right: 40%;
}

.carousel-control-next-icon {
    position: relative;
    left: 40%;
}

.card-container:first-of-type .card-body {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.card-container:last-of-type .card-body {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}


@media screen and (max-width: 767px) {
    .slide {
        margin-left: 0;
        width: 100%;
        border-radius: 0;
    }

    .slide-container {
        height: 78vh;
    }

}


/* About slide */

.big-card {
    background-color: rgb(5 103 53);
    color: rgb(250 244 180);
    border-radius: 12px;
    border-bottom-right-radius: 120px;
    margin-top: 5vh;
    height: 40vh;
    line-height: 35vh;
    text-align: right;
}

.big-card h5 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5vh;
    margin-right: 5vw;
    line-height: normal;
    font-size: 160%;
}

#landing-slide-image-border {
    height: 35vh;
    width: 30vh;
    background-color: rgb(248 186 166);
    border-radius: 50%;
    margin-top: 2.5vh;
    margin-left: 5%;
}

#landing-slide-image {
    object-fit: cover;
    height: 30vh;
    width: 24vh;
    border-radius: 45%;
    position: relative;
    right: 10%;
}

@media screen and (max-width: 767px) {
    .big-card {
        border-radius: 120px;
        text-align: center;
    }

    .big-card h5 {
        padding: 48px;
        font-size: 180%;
    }
}


/* Flavour cards slide */

.color-ball {
    height: 64px;
    width: 64px;
    border: 3px solid rgb(5 103 53);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 2em;
    top: 1em;
}

.card-title {
    font-size: 120%;
}

.card-text {
    line-height: 1em;
}

.card-green {
    background-color: rgb(146, 211, 140);
}

.card-pink {
    background-color: rgb(248 186 166);
}

@media screen and (max-width: 480px) {
    .card-title {
        text-align: center;
        font-size: 140%;
    }

    .card-text {
        font-size: 120%;
    }

    .card-text.small {
        font-size: 80%;
    }

}

@media screen and (min-width: 481px) {
    .card-container {
        font-size: 160%;
        min-height: 160px;
    }

    .card-pink {
        text-align: left;
    }

    .card-green {
        text-align: right;
    }

    .card-title {
        padding: 0 20px;
    }

    .card-subtitle {
        padding: 0 22px;
        margin-top: -22px;
    }

    .card-text {
        text-align: center;
    }

    .card-pink .color-ball {
        left: unset;
        right: 2em;
    }
}

@media screen and (min-width: 992px) {
    .card-container {
        padding: 4px;
        font-size: 100%;
    }

    .card-body {
        border-radius: 16px;
        min-height: 100%;
    }

    .card-container:first-of-type .card-pink, .card-card-green {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    
    .card-container:last-of-type .card-pink, .card-card-green {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    

    .color-ball {
        left: 1em;
        height: 36px;
        width: 36px;
    }

    .card-pink .color-ball {
        left: unset;
        right: 1em;
    }

    .card-subtitle {
        margin-top: -16px;
    }

    .card-text.small {
        position: absolute;
        bottom: 1em;
        text-align: start;
        padding-right: 1.5em;
    }
}


/* Visit Nybrogatan slide */

#nybrogatan-image {
    margin-top: 2vh;
    object-fit: cover;
    max-width: 100%;
    max-height: 50vh;
    animation: zoom-in 1s ease backwards;
    animation-play-state: paused;
}

#nybrogatan-image:hover {
    border-color: rgb(146, 211, 140);
}

@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.7, 1.7);
    }

    100% {
        transform: scale(1.7, 1.7);
    }
}

#collapse-booking p {
    color:rgb(248 186 166);
}

#collapse-booking #reservation-no-auth {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 481px) {
    #nybrogatan-image {
        border: double 2em rgb(5 103 53);
    }
}

/* Contact cards slide */

.image-ball {
    height: 96px;
    width: 96px;
}

.contact-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.contact-card {
    background-color: rgb(180 177 141);
}

.contact-card-right {
    background-color: rgb(202, 202, 173);
}

.contact-card-right .image-ball {
    left: unset;
    right: 2em;
}

@media screen and (min-width: 993px) {
    .contact-cards .contact-card-right p {
        margin-right: 13.4vw;
    }

    .contact-cards .contact-card p {
        margin-left: 13.4vw;
    }

    .contact-cards .contact-card-right {
        border-bottom-right-radius: 64px;
    }

    .contact-cards .contact-card {
        border-bottom-left-radius: 64px;
    }
}

@media screen and (min-width: 1201px) {
    .contact-cards .contact-card-right p {
        margin-right: 11.1vw;
    }

    .contact-cards .contact-card p {
        margin-left: 11.1vw;
    }
}


/* Nybrogatan 23 page */

#nybro23-image-gallery {
    border-radius: unset;
    margin: 0;
    height: 65vh;
    width: 100%;
}

#nybro23-image-gallery img {
    height: 100%;
    object-fit: cover;
}

#nybro23-text-container {
    min-height: 35vh;
}

#google-map {
    height: 65vw;
    max-height: 600px;
    width: 100%;
}

#resveration-btn {
    position: relative;
    z-index: 2;
    width: 40%;
    border-radius: 0.5em;
    margin: -4em 30% 4em 30%;
    line-height: 2.5em;
    font-size: larger;
    letter-spacing: 0.3em;
    background-color: rgb(5 103 53);
    opacity: 0.9;
    border: none;
}

#collapse-booking {
    background-color: rgb(5 103 53);
    margin-top: -4em;
}

#collapse-booking .card {
    height: fit-content;
    border: none;
    background-color: rgb(5 103 53);
    font-size: larger;
}

#collapse-booking .card a {
    color: rgb(5 103 53);
}

.contact-card-nybro23 {
    background-color: rgb(5 103 53);
    color: rgb(228, 228, 196);
    width: 100%;
}

#collapse-booking iframe {
    height: 500px;
    border: none;
}

#contact-us {
    margin-top: 2em;
    color: rgb(5 103 53);
    text-transform: uppercase;
    font-size: 180%;
}

#contact-cards-nybro23 {
    width: 100%;
}

#contact-nybro23 {
    width: 100%;
}

@media screen and (max-width: 767px) {
    #resveration-btn {
        width: 60%;
        margin: -4em 20% 4em 20%;
        letter-spacing: 0.2em;
    }
}

@media screen and (min-width: 1201px) {
    #nybro23-image-gallery img {
        border: double 2em rgb(5 103 53);
    }

    #resveration-btn {
        width: 30%;
        margin: -6em 35% 4em 35%;
    }

    #collapse-booking {
        background-color: rgb(5 103 53);
        margin-top: -2em;
    }
}

/* Booking page */

#booking-body {
    background-color: rgb(5 103 53);
}

#res-form-container {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
}

#res-form-container label {
    color: white;
}

form {
    color: white;
}

.request-confirmation {
    width: fit-content;
    margin: 0 auto;
    color: white;
    background-color: rgb(5 103 53);
    padding: 0.5em;
    border-radius: 0.25em;
}

/* AllAuth templates */

.alert-block {
    position: unset;
}

.alert-block ul {
    padding-left: 0;
}

.alert-block li {
    list-style-type: none;
    width: fit-content;
    margin: 0 auto;
    color: white;
    background-color: rgb(165, 4, 4);
    padding: 0.5em;
    border-radius: 0.25em;
}

/* Profile page */


#profile-background-container {
    background-image: url("/static/images/Infinity-3840x2160-min.jpg");
    background-position: center; 
    background-size: cover;
    background-repeat: repeat-y;   
    width: 100%;
}

.main-container {
    min-height: 78vh;
}

.profile-banner {
    background-color: rgb(5 103 53);
    color: white;
}

.profile-card {
    background-color: rgb(5 103 53);
    color: white;
    margin: 2em auto;
}

.not-confirmed {
    width: 100%;
    background-color: rgb(165, 4, 4);
}

.profile-card h4 {
    padding-top: 2em;
}

.profile-card h4 strong {
    letter-spacing: 2px;
}

.res-form-container {
    margin-top: 2em;
}

.res-info-container p {
    overflow: hidden;

}

#id_message {
    border-radius: 1em;
    height: 10vh;
    width: 60%;
    border: none;
}

#update-msg {
    margin-bottom: 1em;
}

.res-delete a {
    position: absolute;
    width: fit-content;
    top: 0;
    right: 1.5em;
    text-decoration: none;
    margin-top: 2em;
    margin-left: 10%;
    text-align: left;
    color: rgb(248 186 166)
}

.res-delete:hover a {
    color: red;
}

@media screen and (min-width: 993px) {
    .profile-card {
        border-radius: 2em;
    }

    .not-confirmed {
        position: absolute;
        top: 1.3em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        left: 0;
        background-color: rgb(165, 4, 4);
    }

    .res-info-container h5 {
        padding-bottom: 1em;
    }

    .res-info-container p {
        text-align: left;
    }

    #id_message {
        max-height: fit-content;
        height: 100%;
        width: 94%;
        margin-left: 5%;
    }

    #div_id_message {
        margin-top: 1em;
    }

    .res-delete a {
        top: unset;
        bottom: 0.25em;
        left: 1em;
    }
}