{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Nybrogatan 23 Booking</title>
</head>

<body>
    <div id="booking-body">
        <div id="res-form-container">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Send Request" />
            </form>
        </div>
    </div>
</body>