{% extends "base.html" %}

{% block nav_content %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="nav-burger-icon"><img src="../static/images/wavy-icon.png" alt="toggle nav menu"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <div class="row">
      <div class="col-2">
        <div class="logo-container">
          <img id="logotype" src="../static/images/logotype.png" alt="Triple Oh! logotype">
        </div>
      </div>
      <div class="col-10">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" id="signup-login-logout" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" id="signup-login-logout" href="{% url 'account_login' %}">Login/Register</a>
        </li>
        {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="#" id="nybro-nav-link">Nybrogatan 23</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#collapse-booking">Book a table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ pdf_menu.pdf.url }}" target="_blank">Download our dessert menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </div>
    </div>
  </ul>

</div>
{% endblock %}

{% block main_content %}
<section>
  <div class="row">
    <div class="col-xl-10 offset-xl-1 col-xxl-8 offset-xxl-2">
      <div id="nybro23-image-gallery" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% for image in images %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.image_alternative_text }}">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <a id="resveration-btn" class="btn btn-success" data-toggle="collapse" href="#collapse-booking" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        Make a Reservation
      </a>
      <div class="collapse" id="collapse-booking">
        <div class="card card-body">
          {% if user.is_authenticated %}
          <iframe src="{% url 'booking' %}"></iframe>
          {% else %}
          <div>
            <p>You need to be be signed in to make a reservation:</p>
            <a href="{% url 'account_login' %}">Sign In / Register</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div id="nybro23-text-container" class="col-xl-10 offset-xl-1">
      <p>{{ text_content.content | safe }}</p>
    </div>
  </div>
</section>
<section>
  <div id="google-map"></div>
</section>
{% endblock %}