{% extends "base.html" %}

{% block nav_content %}
<li class="nav-item active">
    <a class="nav-link" href="#" id="nybro-nav-link">Nybrogatan 23</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Book a table</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ pdf_menu.pdf.url }}" target="_blank">Download our dessert menu</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
</li>
{% endblock %}

{% block content %}

{% endblock %}