{% extends 'base.html' %}

{% block main_content %}

<div class="main-container">
    {% if user.is_authenticated %}
    <div class="profile-card">
        <h2>User Info:</h2>
        <p>Username: {{ user }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Your reservations: </p>
    </div>
    {% for reservation in reservations %}
    <div class="profile-card">
        <p>Reservation for: {{ reservation }}</p>
        <p>Time and date: {{ reservation.date_and_time }}</p>
        <p>Party Size: {{ reservation.party_size }}</p>
        <p>Your Message to the Restaurant: {{ reservation.message }}</p>
    </div>
    {% endfor %}

    {% else %}

    <p>You need to log in to view your profile.</p>
    <h2><a href="{% url 'account_login' %}">Sign In / Register</a></h2>

    {% endif %}
</div>
{% endblock %}